.tableContainer {
    margin: 2rem 1rem;
    max-width: 100vw;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    padding: 1rem 2rem;
    background-color: #ffffff;
  }

.allworkHeader{
  height:3rem;
  width:100%;
  display:flex;
  justify-content: flex-start;
  background-color: rgb(16, 139, 247);
}

.allworkHeader button{
  padding:8px;
  color:white;
  background-color: rgb(16, 139, 247);
  border-radius: 0;
  border-right: 2px solid white;
  scale: 1;
  transition: scale .5s ease-in-out;
}
.allworkHeader button:active{
  scale: 0.8;
  transition: scale .5s ease-in-out;
}

.allworkHeader h3{
  display:flex;
  justify-content: center;
  align-items: center;
}